/* <576px */
html,
body,
#root,
#root .page {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.wrap {
  margin: 0 5px;

}

#header {
  padding: 0;
}

#footer {
  text-align: center;
  padding: 24px 0;
}

.logo {
  text-align: center;

}

.topics-list {
  background: #fff;
  padding: 0 15px;
}

.ml-gap {
  margin-right: 10px;
}

.date {
  text-align: right;
}

#topic-detail,.user-page {
  margin-top: 10px;
}
.user-detail{
  text-align: center;
}
/* >=576px */
@media all and (min-width:576px) {
  .wrap {
    margin: 0 10px;
  }
}

/* >=768px */
@media all and (min-width:768px) {
  .wrap {
    margin: 0 15px;
  }
}

/* >=992px */
@media all and (min-width:992px) {
  .wrap {
    margin: 0 20px;
  }
}

/* >=1200px */
@media all and (min-width:1200px) {
  .wrap {
    margin: 0 auto;
    width: 980px;
  }
}

/* >=992px */
@media all and (min-width:1600px) {
  .wrap {
    width: 1200px;
  }
}